#basemedia,
#printmedia,
#finishing,
#finishing-optional,
#shipping,
#customer,
#options-select,
#ink-select{
    width: 100%;
}

#div-finishing-optional,
#labour-time,
#length,
#ink {
    margin-top: 3px;
}

#div-finishing-optional,
#options,
#order-screen,
#view-orders,
#customer-details,
#div-ink {
    display: none;
}

.form-hint {
    margin: 0 0 -7px 0;
    color: rgba(225, 50, 75, 0.75);
    font-size: 0.75em;
    display: none;
}

#menu {
    margin-top: 5px;
}

.my-btn-col {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

#customer-details .col {
    display: inline-flex;
}

#customer-details span {
    margin-right: 10px;
}

#customer-details i {
    margin-left: 10px;
}

#customer-details .row {
    margin-top: 15px;
}

#customer-details {
    color: #495057;
}